body {
    background-image: url();
    background-size: cover;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* bar top */
/* bar bottom */
.bar-top,
.bar-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.container {
    width: 428px;
    height: 166px;
}

.person,
.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 9rem;
    height: 9rem;
}

.opponent-name,
.player-name {
    background-color: #f7e3ca;
    border: .7rem solid #46300f;
    border-radius: 20px;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.score-bar {
    width: 15rem;
    height: 4rem;
}

.score-circle {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: .7rem solid #46300f;
    background-color: #f7e3ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer-score,
.player-score {
    font-size: 8rem;
}

/* cards stack */
.cards {
    display: flex;
    justify-content: center;
}

.player-cards,
.opponent-cards {
    display: flex;
    gap: 1.5rem;
}

.player-card {
    
}

.player-card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.cards img {
    width: 8.5rem;
}

/* card deck */
.deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-slots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-slot {
    background-color: blue;
    width: 136px;
    height: 191.219px;
}

.deck-message {
    background-color: blueviolet;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}