body {
    background-color: #4d394a;
    color: #c9c9c9;
    font-family: "Balthazar", "Garamond", "Trebuchet MS";
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    background-color: #3d2d3b;
    border-radius: 20px;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #160D14;
    border-radius: 10px;
    width: 30vw;
    height: 7vh;
    font-size: 30px;
    font-weight: 900;
}

.container-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    width: 70vw;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #4d394a;
    border-radius: 10px;
    padding: 10px 24px;
    font-weight: 900;
    font-size: 20px;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 0 1.5rem;
    font-weight: 900;
    font-size: 27px;
}

.card-placeholder {
    width: 150px;
    height: 200px;
    background-color: #261C2A;
    border-radius: 10px;
}

.container-text {
    width: 40vw;
    height: 60px;
    border-radius: 10px;
    background-color: #4d394a;
}

.container-cards {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    gap: 1.5rem;

}

.cards img {
    background-color: #261C2A;
    max-width: 150px;
    border-radius: 10px;
}