body {
    background-image: url();
    background-size:cover;
    height: 100%;
    overflow: hidden;
    margin:0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* bar top */
/* bar bottom */
.bar-top, .bar-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.person, .score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.avatar-opponent {
    background-image: url(/img/computer.png);
    background-size:cover;
    width: 9rem;
    height: 9rem;
    border: .7rem solid #46300f;
    border-radius: 50%;
    background-color: #f7e3ca;
}

.avatar-player {
    background-image: url(/img/player.png);
    background-size:cover;
    width: 9rem;
    height: 9rem;
    border: .7rem solid #46300f;
    border-radius: 50%;
    background-color: #f7e3ca;
}

.opponent-name, .player-name {
    background-color: #f7e3ca;
    border: .7rem solid #46300f;
    border-radius: 20px;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.score-bar {
    width: 15rem;
    height: 4rem;
    border-radius: 20px;
    background-color: #f7e3ca;
    border: .7rem solid #46300f;
}

.score-circle {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: .7rem solid #46300f;
    background-color: #f7e3ca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.computer-score, .player-score {
    font-size: 8rem;
}

/* cards stack */
.cards {
    display: flex;
    justify-content: center;
}

.player-cards, .opponent-cards {
    display: flex;
    gap: 1.5rem;
}

.card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.cards img {
    width: 8.5rem;
}
